body {
  font-family: "Roboto Condensed", sans-serif;
}

.testimonitals img {
  width: 40%;
  display: inline-block;
  box-shadow: 2px 2px 15px black;
}

/* .testimonitals:first-of-type {
  margin: 8% 0px;
} */

section {
  padding: 8% 5%;
  min-height: calc(100vh - 80px);
}

.testimonials_info {
  display: inline-block;
  width: 40%;
  text-align: left;
  padding: 30px;
  vertical-align: top;
}

.testimonials_info p {
  text-align: justify;
}

.testimonials_info h1 {
  color: #443266;
  font-weight: bolder;
  font-size: 2rem;
  line-height: 0px;
}

.testimonitals h2 {
  color: grey;
  font-size: 1.8em;
}
.testimonitals h2 a {
  text-decoration: none;
  color: #443266;
}

.customer2 img {
  float: right;
}

.clear_fix {
  clear: both;
}

.testimonitals.customer2 {
  text-align: right;
}

.customer2 .testimonials_info {
  text-align: right;
}

@media (max-width: 995px) {
  .testimonials_info {
    width: 49%;
  }
}

@media (max-width: 820px) {
  .testimonials_info {
    width: 59%;
  }

  .testimonitals img {
    margin-top: 7%;
  }
}

@media (max-width: 640px) {
  .testimonials_info {
    width: 59%;
  }

  .testimonitals img {
    margin-top: 10%;
  }
}

@media (max-width: 515px) {
  .testimonials_info {
    width: 100%;
  }

  .testimonitals img {
    width: 70%;
  }

  .testimonitals {
    text-align: center;
  }

  .customer2 img {
    float: none;
    margin-top: 0px;
  }
  .testimonitals.customer2 {
    text-align: center;
  }
}
